[MASTER]
ignore=venv,.venv
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    invalid-name

[FORMAT]
max-line-length=160

[REPORTS]
output-format=colorized

[TYPECHECK]
ignored-modules = alembic, alembic.op, alembic.context
