[MASTER]
ignore=venv,.venv
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    too-few-public-methods,
    invalid-name,
    broad-exception-caught,
    raise-missing-from,
    too-many-statements,
    redefined-builtin,
    ungrouped-imports

[FORMAT]
max-line-length=160

[REPORTS]
output-format=colorized
