# FastAPI core
fastapi
uvicorn[standard]

# Environment + config
python-dotenv
pydantic
pydantic-settings

# LLM + Azure OpenAI
openai
azure-cognitiveservices-speech

# Templates
Jinja2

# Networking + utilities
requests
httpx

# Geolocation
geopy

# MCP (keep only if you're using your MCP server)
fastmcp

#database
psycopg2-binary
sqlalchemy

# Workflows
pylint