# FastAPI core
fastapi
uvicorn[standard]

# Environment + config
python-dotenv
pydantic
pydantic-settings

# LLM + Azure OpenAI
openai
azure-cognitiveservices-speech

# LangGraph
langgraph
langchain-core

# Templates
Jinja2

# Networking + utilities
requests
httpx

# Geolocation
geopy
fpdf2

# MCP (keep only if you're using your MCP server)
fastmcp
motor

#database
psycopg2-binary
sqlalchemy
pymongo[srv]

# Workflows
pylint